/*!
 * Time Tracker CSS
 */

/* Main page */
html {
    font-family: Roboto,Arial,sans-serif;
    font-size: 62.5%;
    letter-spacing: 0.1rem;
    /*height: 100vh;*/
}
body {
    width: 100%;
    /*height: 100%;*/
    margin: 0;
    color: #000;
    background-color: #FFF;
    font-size: 10px;
}

/* General classes */
.container {
    display: flex;
    flex-direction: column;
    position: initial;
    width: 100%;
    max-width: 100%;
    /*height: 100%;*/
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.row {
    display: flex;
    flex-direction: row;
    width: 100%;
    /*height: 100%;*/
}

h1, h3 {
    margin: 0;
}
h1 {
    font-size: 30px;
    line-height: 60px;
}
h3,
table caption {
    padding: 0 0 8px 0;
    border-bottom: 1px solid #000;
    font-size: 20px;
    line-height: 20px;
}

input[type="text"],
button {
    height: 29px;
    border: 1px solid #999;
    border-radius: 2px;
    padding: 0 10px;
}
input[type="text"]:focus {
    border: 1px solid #000;
}
button:not(:disabled):active {
    border: 1px solid #000;
}

/* Header */
#header {
    justify-content: center;
    margin-bottom: 15px;
    border-bottom: 2px solid #000;
}

/* Task Manager */
#task_manager {
    width: auto;
    min-height: 150px;
    padding: 0 15px;
}
#task_manager > div {
    justify-content: space-between;
    padding: 15px;
}
#task_manager div.container:last-child {
    border-left: 1px solid #000;
}
#task_manager div.container:last-child span {
    display: inline-block;
    vertical-align: middle;
    max-width: calc(100% - 155px);
    font-size: 15px;
    font-weight: normal;
    line-height: 15px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#task_manager div.container:last-child label {
    text-align: center;
    font-size: 29px;
    line-height: 29px;
}

/* Summary */
#summary {
    width: auto;
    padding: 15px 30px 0;
}
#summary table,
#summary th,
#summary td {
    padding: 5px 10px;
    border: 1px solid #666;
    border-collapse: collapse;
}
#summary table {
    width: 100%;
    text-align: left;
}
#summary table tr th {              /* IE Fix */
    text-align: left;
}
#summary table tr > th:last-child,
#summary table tr > td:last-child {
    width: 140px;
    text-align: right;
}
#summary table tr:last-child {
    font-weight: bold;
}
#summary table caption {
    margin: 0 0 15px 0;
    font-weight: bold;
    text-align: left;
}
#summary table th {
    font-size: 15px;
}
#summary table td {
    font-size: 13px;
}


/* Responsive: < 800px */
@media only all and (max-width: 800px) {
    /* General classes */
    body > .container > .row {
        flex-direction: column;
    }

    h1 {
        text-align: center;
        font-size: 25px;
        line-height: 50px;
    }
    h3,
    table caption {
        padding: 0;
        margin-bottom: 5px;
        font-size: 15px;
        line-height: 25px;
        border-bottom: 1px solid #000;
    }

    /* Header */
    #header {
        margin-bottom: 5px;
    }

    /* Task Manager */
    #task_manager {
        height: auto;
        min-height: 250px;
    }
    #task_manager div {
        padding: 10px 0;
        height: 100%;
    }
    #task_manager div.container:last-child {
        border-left: none;
    }
    #task_manager div.container:last-child span {
        vertical-align: top;
        max-width: calc(100% - 125px);
        font-size: 12px;
        line-height: 25px;
    }

    /* Summary */
    #summary {
        padding: 15px 15px 0;
    }
    #summary table tr > th:last-child,
    #summary table tr > td:last-child {
        width: 120px;
    }
    #summary table caption {
        margin: 0 0 15px 0;
    }
}

/* Other */
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}